body{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}